.video-downloader-wrapper {
    padding: 3rem 2rem;
    margin: 3rem 0;
    border: 1px solid #eee;
    border-radius: .5rem;
}

.video-downloader-wrapper .row {
    padding: 1rem .5rem;
    margin: 1rem 0;
}

.video-downloader-wrapper .row label {
    font-weight: bold;
}

.video-downloader-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}